@font-face {
  font-family: fontRegular;
  src: url(./fonts/LiberationSans-Regular-webfont.ttf);
}
@font-face {
  font-family: fontBold;
  src: url(./fonts/LiberationSans-Bold-webfont.ttf);
}

body {
  font-family: fontRegular;
}

.encart {
  background-color: rgb(211, 207, 200);
}

.bonjour {
  display: flex;
}

.corps {
  background-color: rgb(26, 25, 25);
}

.content {
  background-color: rgb(249, 245, 245);
  padding-bottom: 10rem;
  width: 80%;
}

.image {
  position: absolute;
}

.solde {
  position: absolute;
  box-sizing: border-box;
  background-color: black;
  color: orange;
  padding: 0.4rem;
  border-radius: 0.5rem;
  top: 1%;
  right: 1%;
  font-family: fontBold;
  font-size: large;
  width: 20%;
}

.text-image {
  position: absolute;
  background-color: black;
  color: aliceblue;
  right: 44%;
}

.prix {
  position: absolute;
  left: 60%;
  margin-top: 3%;
  font-size: x-large;
  font-family: fontBold !important;
}

.prix-text-barre {
  text-decoration: line-through;
  margin-right: 1.5rem;
}

.prix-text {
  color: orange;
}

.kard {
  position: relative;
  margin: 2rem;
  margin-bottom: 4rem;
}

.text-card {
  position: absolute;
  top: 90%;
  left: 17%;
  text-transform: uppercase;
  font-family: fontBold !important;
}

.footer-junior {
  position: absolute;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 0.6rem;
  background-color: rgb(252, 247, 240);
  color: black;
  top: -10%;
  box-shadow: 0px 0px 5px 1px black;
}

.footer {
  position: relative;
  background-color: rgb(48, 43, 43);
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: small;
}

.mur-de-berlin {
  background-color: rgb(48, 43, 43);
  width: 65%;
  bottom: 10%;
  position: absolute;
  border-bottom: 1px white solid;
}

.contacts {
  width: 100%;
  background-color: rgb(48, 43, 43);
  position: absolute;
  display: flex;
  top: 100%;
  padding: 2rem 10rem 4rem 10rem;
}

.droits {
  position: absolute;
  height: 100%;
  bottom: 0%;
  padding: 6rem 0 2rem 0;
}
